In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']

mylist = [10,20,30]

arr = np.array([10,20,30])

d  =  {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data=mylist,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
salesQ1 = pd.Series(data=[250,450,200,150],index=['USA','China','India','Brazil'])

In [15]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [16]:
salesQ2 = pd.Series(data=[260,500,210,100],index=['USA','China','India','Japan'])

In [17]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [18]:
salesQ2['China']

500

In [19]:
salesQ2[1]

/var/folders/ld/9qb4fz4x0gncdjmnhpfjh4nm0000gp/T/ipykernel_78864/753233324.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  salesQ2[1]

500

In [20]:
salesQ1 + salesQ2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64